/* General Aside Menu Styles */
.aside-menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  transition: left 0.3s ease;
  margin-top: 70px;
  padding: 20px;
  box-sizing: border-box;
}




/* Menu Items */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: var(--menu-item-color);
  border-radius: 5px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.menu-item:hover {
  background: var(--menu-item-hover-color);
}

.menu-link {
  font-size: 18px;
}

/* Submenu Styles */
.sub-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  transition: margin-top 0.3s ease;
  margin-left: 20px;
}

.sub-items.expanded {
  max-height: 500px; /* Arbitrary max-height */
  margin-top: 10px;
  transition: max-height 0.3s ease;
  transition: margin-top 0.3s ease;
}

.sub-item-link {
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 5px 0;
  margin-left: 25px;
}

.sub-item-link:hover {
  color: var(--sub-item-hover);
}

/* Dropdown Toggle */
.dropdown-toggle {
  margin-left: 10px;
  color: var(--dropdown-toggle-color);
  font-weight: bold;
  font-size: 16px;
}


/* From Uiverse.io by satyamchaudharydev */ 
/* The switch - the box around the slider */
.day-toggle {
  margin: 10px 35%;
}

.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}