/* Global styles and font settings */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;




  /* FALLBACK CODE BEGIN */

  --bg-color: #242424; 
  --text-color: #ffffff; 

  /* Blueish Backgrounds */
  --navbar-bg-color: #263238;
  --navbar-border-color: #11171a;
  --aside-bg-color: #37474f;
  --footer-bg-color: #1a2634;
  --footer-text-color: #bcddec;
  --menu-item-color: #5c899e;
  --dropdown-menu-color: #37525e;
  --dropdown-menu-border-color: #555;
  --menu-border-color: #496d7e;
  --dropdown-toggle-color: #39474e;

  /* Hover Effects and Accents */
  --dropdown-hover-color: rgba(255, 255, 255, 0.2);
  --menu-hover-color: rgba(255, 255, 255, 0.2);
  --menu-item-hover-color: #4a90e2;
  --sub-item-hover: #5c899e;

  --home-gradient-begin: #263238;
  --home-gradient-2: #46607e;
  --home-gradient-3: #4a5b70;
  --home-gradient-4: #2b435f;
  --home-gradient-end: var(--footer-bg-color);

  --blue-accent: blue;
  --blue-hover: rgb(121, 121, 180);


  /* FALLBACK CODE END */



  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease, box-shadow 0.6s ease;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242424;
    --text-color: #ffffff;
    --navbar-bg-color: #263238;
    --aside-bg-color: #37474f;
    --footer-bg-color: #1a2634;
    --dropdown-hover-color: rgba(255, 255, 255, 0.2);
  }
}


/* Light Mode */
.theme-light {
  --bg-color: #d8eff3; 
  --text-color: #333333; 

  /* Unified Backgrounds */
  --navbar-bg-color: #8db1b6; 
  --navbar-border-color: #6f8b8f;
  --aside-bg-color: #779599;
  --footer-bg-color: #7494a3;
  --footer-text-color: #E8E8E8;
  --menu-item-color: rgba(0, 0, 0, 0.164);
  --dropdown-menu-color: #7b9dad;
  --dropdown-menu-border-color: #4e6874;
  --menu-border-color: #88aec0;
  --dropdown-toggle-color: #94bacc;

  /* Hover Effects and Accents */
  --dropdown-hover-color: rgba(0, 0, 0, 0.1);
  --menu-hover-color: #bde8fc;
  --menu-item-hover-color: #a2d4eb;
  --sub-item-hover: rgba(17, 54, 71, 0.253);


  --home-gradient-begin: #8db1b6;
  --home-gradient-2: #8db6bb;
  --home-gradient-3: #bcd5d8;
  --home-gradient-4: #76989c;
  --home-gradient-end: #7494a3;
}

/* Dark Mode */
.theme-dark {
  --bg-color: #242424;
  --text-color: #ffffff; 

  /* Blueish Backgrounds */
  --navbar-bg-color: #263238;
  --navbar-border-color: #11171a;
  --aside-bg-color: #37474f;
  --footer-bg-color: #1a2634;
  --footer-text-color: #bcddec;
  --menu-item-color: #5c899e;
  --dropdown-menu-color: #37525e;
  --dropdown-menu-border-color: #555;
  --menu-border-color: #496d7e;
  --dropdown-toggle-color: #39474e;

  /* Hover Effects and Accents */
  --dropdown-hover-color: rgba(255, 255, 255, 0.2);
  --menu-hover-color: rgba(255, 255, 255, 0.2);
  --menu-item-hover-color: #4a90e2;
  --sub-item-hover: #5c899e;

  --home-gradient-begin: #263238;
  --home-gradient-2: #46607e;
  --home-gradient-3: #4a5b70;
  --home-gradient-4: #2b435f;
  --home-gradient-end: var(--footer-bg-color);

  --blue-accent: blue;
  --blue-hover: rgb(121, 121, 180);
  
}


/* Body styling */
body {
  margin: 0;
  margin-top: 80px;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);

  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}

/* Apply background-color and text-color for navbar */
.navbar-container {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  transition: background-color 0.6s ease, color 0.6s ease;
}

/* Apply background-color for aside menu */
.aside-menu {
  background-color: var(--aside-bg-color);
  color: var(--aside-text-color);
  transition: background-color 0.6s ease, color 0.6s ease;
}

/* Apply footer background */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  transition: background-color 0.6s ease, color 0.6s ease;
}

/* Apply dropdown hover color */
.dropdown-icon:hover {
  background-color: var(--dropdown-hover-color);
  transition: background-color 0.3s ease;
}

/* Button Styles */
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 2px solid var(--menu-border-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: var(--menu-hover-color);
}

/* Links and Text with Blue Accent */
a {
  color: var(--blue-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--blue-hover);
}
